* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display:block;
    clear: both;
}

html, body {
    height: 90%;
    margin: 5px;
    padding: 0;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-image: url(../pictures/dark.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
	margin-left: 10px;
	margin-top: 5px;
	-webkit-text-stroke: 1px white;
    font-family: fantasy;
    color:rgb(64,199,129);
    font-size:35px;
    text-decoration: none;
}

.header, .content-wrapper, .container, .content, .footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.header {
    height: 60px;
    background: #900000; 	
    color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
	margin: 5px;
}

.footer {
    height: 60px;
    background:#444;
    color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
	margin: 5px;
    font-size: 18px;
    padding-left: 700px;
}

.content-wrapper {
    margin: 0 auto;
    flex-direction: column;
    height: 100%;
    width: 1800px;
}

.container {
    flex-wrap: nowrap;
    flex: 1 0 auto;
}

.content {
    width: 100%;
    flex: 1 1 auto;
    order: 0;
    order: 1;
	margin: 5px;
	background-image: url(../pictures/content.jpg);
}

.sidebar {
    background: #008080; 
    flex: 0 0 auto;
	margin: 5px;
}

.sidebar1 {
    width: 300px;
    order: 1;
    order: 0;
}

.sidebar2 {
    width: 110px;
    order: 2;
    order: 2;
}

.Roulette-btn, .Dice-btn, .Crash-btn, .Jackpot-btn {
	width: 550px;
	height: 250px;
	margin: 40px;
    margin-left: 17%;
	text-align: center;
	line-height: 240px;
}

.Roulette-btn {
	background-image: url(/static/pictures/roulettebtn.jpeg);
}

.Dice-btn {
	background-image: url(../pictures/dicebtn.jpg);
}

.Crash-btn {
	background-image: url(../pictures/crashbtn.jpg);
}

.Jackpot-btn {
	background-image: url(../pictures/jackpotbtn.jpg);
}



.header, .sidebar, .content, .footer, .button-games, .msg, .snd-msg, .Roulette-btn, .Dice-btn, .Crash-btn, .Jackpot-btn {
	border-radius: 10px;
}

.msg {
	margin: 25px;
	background: white;
	width: 250px;
	height: 500px;
}

.snd-msg {
	margin: 25px;
	background: pink;
	width: 250px;
	height: 100px;
	padding: 15px;
}

.message-input {
	width: 220px;
	height: 30px;
}

.button-input {
	width: 220px;
}

.right-menu {
	line-height: 100px;
    padding-top: 20px;
    padding-right: 10px;
}

.hdbtn {
	width: 100%; 
}

.buttonNavigation {
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(149, 79, 240);
    box-shadow: 0 -3px rgb(121, 34, 235) inset;
    transition: 0.2s;
}
.buttonNavigation:hover { background: rgb(121, 34, 235); }
.buttonNavigation:active {
    background: rgb(78, 4, 175);
    box-shadow: 0 3px rgb(78, 4, 175) inset;
}

a.buttonLog {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    margin-right: 10px;
  } 
a.buttonLog:hover { background: rgb(53, 167, 110); }
a.buttonLog:active {
background: rgb(33,147,90);
box-shadow: 0 3px rgb(33,147,90) inset;
}

.textdecor {
    color: #c40808;
    background-image: -webkit-linear-gradient(0deg, #c40808 27%, #00ffee 48%, #9c0599 71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    font-family: fantasy;
    font-size:35px;
}

.DiceGame {
    border-radius: 100px;
    width: 650px;
	height: 350px;
	margin-left: 52%;
    margin-top: 40%;
    padding-top: 20px;
    padding-left: 80px;
	text-align: center;
    background-image: url(../pictures/dc.jpg);
}

.DiceElements {
    background: #444;
    color: white;
    width: 60%;
    height: 60%;
    border-radius: 10px;
    line-height: 50px;
}

.blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px); 
    height: 250px;
    width: 550px;
    border-radius: 10px;
}

.balance {
    -webkit-text-stroke: 1px white;
    font-family: fantasy;
    color:rgb(64,199,129);
    font-size: 25px;
    text-decoration: none;
}

.profile, .cash {
    width: 665px;
    height: 650px;
    margin: 5px;
    background: #333;
    border-radius: 10px;
}

.profile {
    border-right: 5px solid red;
    border-bottom: 5px solid red;
    border-left: 5px solid blue;
    border-top: 5px solid blue;
}

.cash {
    border-top: 5px solid red;
    border-right: 5px solid red;
    border-left: 5px solid blue;
    border-bottom: 5px solid blue;
}

.avatar {
    background-image: url(/static/pictures/ava.jpg);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #00ffee;
    margin-left: 35%;
    margin-top: 2%;
}

.stats {
    -webkit-text-stroke: 1px white;
    font-family: fantasy;
    color:rgb(64,199,129);
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
}

.GameHistory {
    width: 600px;
    height: 200px;
    background: #9c0599;
    margin-left: 25px;
    margin-top: 80px;
    border-radius: 10px;
}

.gm-hs {
    background: rgb(83, 197, 150); 
    border-radius: 10px 10px 0 0; 
    text-align: center;

    -webkit-text-stroke: 1px white;
    font-family: fantasy;
    color:rgb(64,199,129);
    font-size: 25px;
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button:focus {
	outline: none;
}

.ddd {
    position: relative;
    margin-left: 630px;
}

.dice-control {
    position: relative;
    margin-left: -660px;
}

.Cant-to-play-without-register {
    margin: 0 auto;
    line-height: 620px;
	-webkit-text-stroke: 1px white;
    font-family: fantasy;
    color:rgb(64,199,129);
    font-size:35px;
    text-decoration: none;
}

#resultDice {
    margin: 0 auto;
    color: white;
    margin-left: 50px;
    font-size: 130px;
}

.DiceRoll {
    margin: 0 auto;
}

.roll {
    width: 400px;
    height: 150px;
    margin: 0 auto;
}

.DiceSettings {
    width: 700px;
    height: 390px;
    background: linear-gradient(to top, black, cyan);
    border-radius: 40px;
}

.settings {
    margin: 0 auto;
}

.settings td {
    text-align: center;
    height: 180px;
    width: 100px;
}

label {
    color: white;
}

#Range, #Multiply, #BetAmount, #WinChance, #Profit {
    font-family: 'Montserrat';
    font-size: 20px;
    width: 200px;
    padding-left: 10px;
    background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
    box-shadow: 0 0 20px rgba(99, 2, 94, 0.548);
    border: 2px solid #30012faf;
    color: white;
    border-radius: 5px;
    outline: none;
}

.start {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #3ab9e4 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(99, 2, 94, 0.548);
    transition: .5s;
  }
  .start:hover {
    background-position: right center;
  }

  #wrg-rng, #wrg-mtp, #wrg-wch, #NoMoney {
    color: red;
  }

  .deposit {
    margin: 0 auto;
    margin-top: 100px;
  }

  .deposit td {
    height: 50px;
  }

  #deposit {
    width: 315px;
    margin-right: 10px;
    border-radius: 6px;
  }

.form_radio_btn {
	display: inline-block;
	margin-right: 10px;
    width: 150px;
    height: 150px;
    background-image: url(/static/pictures/deposit1.svg);
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
	display: inline-block;
    width: 150px;
    height: 150px;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border-radius: 6px;
	user-select: none;
}
 
/* Checked */
.form_radio_btn input[type=radio]:checked + label {
    border: 1px solid red;
}
 
/* Hover */
.form_radio_btn label:hover {
	color: rgb(6, 241, 84);
}