body {
    background-image: url(/static/pictures/dark.gif);
    background-attachment: fixed;
}

#header {
    height: 50px;
    width: 1690px; 
    background: #900000; 
    height: 50px; 
    margin-right: auto; 
    margin-left: auto; 
    padding: 10px; 
}

.logo {
    -webkit-text-stroke: 1px white;
    font-family: fantasy;
    color:rgb(64,199,129);
    font-size:35px;
    text-decoration: none;
}

#main {
    width: 1815px; 
    margin-right: auto; 
    margin-left: auto;
    margin-top: 5px;
}

#left-bar {
    height: 692px;
    width: 336px; 
    float: left; 
    color: white; 
    background: #008080; 
    padding: 10px; 
    margin-right: 5px;
    margin-left: 50px;
}

#right-bar {
    height: 692px;
    width: 336px; 
    float: right; 
    color: white; 
    background: #008080; 
    padding: 10px; 
    margin-right: 5px;
    margin-left: 5px;
    float: left;
}

#content {
    height: 692px;
    width: 968px; 
    float: left; 
    padding: 10px; 
    background: #e0e0e0; 
}

#footer {
    text-decoration:underline;
    text-align:right;
    height: 50px;
    width:1690px;
	padding: 10px; 
	background:#444;
	color:#fff;
	margin-right: auto; 
    margin-left: auto; 
    margin-top: 5px;
}

.text {
    width:  100%;
}

.buttonNavigation {
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(149, 79, 240);
    box-shadow: 0 -3px rgb(121, 34, 235) inset;
    transition: 0.2s;
}
.buttonNavigation:hover { background: rgb(121, 34, 235); }
.buttonNavigation:active {
    background: rgb(78, 4, 175);
    box-shadow: 0 3px rgb(78, 4, 175) inset;
}

a.buttonLog {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
  } 
a.buttonLog:hover { background: rgb(53, 167, 110); }
a.buttonLog:active {
background: rgb(33,147,90);
box-shadow: 0 3px rgb(33,147,90) inset;
}
div { border-radius: 10px; }

#Roulette {
    height: 175px;
    width: 455px; 
    float: left; 
    padding: 10px; 
    background-image: url(/static/pictures/roulettebtn.jpeg);
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
    color: white;
}

.textdecor {
    color: #c40808;
    background-image: -webkit-linear-gradient(0deg, #c40808 27%, #00ffee 48%, #9c0599 71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    font-family: fantasy;
    font-size:35px;
}

#Dice {
    height: 175px;
    width: 455px; 
    float: left; 
    padding: 10px; 
    background-image: url(/static/pictures/dicebtn.jpg);
    margin-left: 5px; 
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
    color: white;
}

#DiceGame {
    position: absolute;
    left: 50%;
    top: 47%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    height: 640px;
    width: 755px; 
    float: left; 
    padding: 10px; 
    background:rgb(53, 167, 110);
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
    color: white;
}
