{{define "basic"}}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=10">
        <title>{{template "title" .}}</title>
        <link rel="stylesheet" href="/static/css/style.css"> 
        <script src="../js/manu.js"></script>
    </head>
    <body>
    <div class="content-wrapper">
        <header class="header">
			<table class="hdbtn">
				<tr>
					<td><a class="logo" href="/">Knight Casino</a></td>
					{{if not .LoginFlagAccept}}<td align="right" style="width: 25%"><a class="buttonLog" href="/main-sign">Sign In/Sign Up</a></td>{{end}}
                    {{if .LoginFlagAccept}}<td align="right"><span id="balance">{{ .balance }} $</span></td><td align="right" style="width: 15%"> <a class="buttonLog" href="/profile">My profile</a>   <a class="buttonLog" href="/logout">Exit</a></td>
                    {{end}}
				</tr>
			</table>
        </header>

        <div class="container clearfix">
            <main class="content">
			{{ template "content" .}}
            </main>
            <aside class="sidebar sidebar1">
				<div class="msg"><div id="output"></div></div>
				<div class="snd-msg">
					<input id="input" name="message" type="text" placeholder="Enter Message" autofocus>
					<p>
                    <button class="button-input" onclick="send()">Send</button>
                    <script>
                        var input = document.getElementById("input");
                        var output = document.getElementById("output");
                        var socket = new WebSocket("ws://localhost:8080/ws");
                        socket.onopen = function () {
                            output.innerHTML += "<span style='margin-left: 40px; -webkit-text-stroke: 0.3px red;'>Welcome to Chat</span> <br>";
                        };

                        socket.onmessage = function (e) {
                            let result = JSON.parse(e.data);
                            if (result['Role'] == "admin"){
                                output.innerHTML += "<span style='color: red;'>" + result['Username'] + "</span>" + ": " + result['Message'] +"<br>";
                            }
                            if (result['Role'] == "user"){
                                output.innerHTML += "<span style='color: blue;'>" + result['Username'] + "</span>" + ": " + result['Message'] +"<br>";
                            }
                            if (result['Role'] == "moder"){
                                output.innerHTML += "<span style='color: yellow;'>" + result['Username'] + "</span>" + ": " + result['Message'] +"<br>";
                            }
                        };

                        function send() {
                            socket.send(input.value);
                            input.value = "";
                            var scrl = document.getElementsByClassName("msg");
                            scrl.scrollTop = 99999999;
                            console.log(socket.CONNECTING)
                        }
                    </script>
				</div>
            </aside>
            <aside class="sidebar sidebar2">
                <div class="right-menu">
					<a href="#" style="padding: 0.5rem;margin-bottom: 1rem;"><img src="/static/pictures/crash_test.svg" width="80" height="80"></a>
                    <p>
                    <a href="/dice" style="padding: 0.5rem;margin-bottom: 1rem;"><img src="/static/pictures/dice_test.svg" width="80" height="80"></a>
                    <p>
					<a href="#" style="padding: 0.7rem;margin-bottom: 1rem;"><img src="/static/pictures/roulette_test.svg" width="70" height="70"></a>
                    <p>
					<a href="#" style="padding: 0.9rem;margin-bottom: 1rem;"><img src="/static/pictures/mines_test.svg" width="80" height="80"></a>
                </div>
            </aside>
        </div>

        <footer class="footer">
            <p> &copy; All right reserved by SingleKnight group.
        </footer>
    </div>  
    </body>
</html>
{{end}}