{{define "basic"}}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=10">
        <title>{{template "title" .}}</title>
        <link rel="stylesheet" href="/static/css/style.css"> 
        <script src="../js/manu.js"></script>
    </head>
    <body>
    <div class="content-wrapper">
        <header class="header">
			<table class="hdbtn">
				<tr>
					<td><a class="logo" href="/">Knight Casino</a></td>
					{{if not .LoginFlagAccept}}<td align="right" style="width: 25%"><a class="buttonLog" href="/main-sign">Sign In/Sign Up</a></td>{{end}}
                    {{if .LoginFlagAccept}}<td align="right"><span id="balance">{{ .balance }} $</span></td><td align="right" style="width: 15%"> <a class="buttonLog" href="/profile">My profile</a>   <a class="buttonLog" href="/logout">Exit</a></td>
                    {{end}}
				</tr>
			</table>
        </header>

        <div class="container clearfix">
            <main class="content">
			{{ template "content" .}}
            </main>
            <aside class="sidebar sidebar1">
				<div class="msg"><pre id="output"></pre></div>
				<div class="snd-msg">
					<input id="input" name="message" type="text" placeholder="Enter Message">
					<p>
                    <button class="button-input" onclick="send()">Send</button>
                    <script>
                        var input = document.getElementById("input");
                        var output = document.getElementById("output");
                        var socket = new WebSocket("ws://localhost:8080/ws");

                        socket.onopen = function () {
                            output.innerHTML += "Status: Connected\n";
                        };

                        socket.onmessage = function (e) {
                            output.innerHTML += {{.username}} + ": " + e.data + "\n";
                        };

                        function send() {
                            socket.send(input.value);
                            input.value = "";
                            console.log(socket.CONNECTING)
                        }
                    </script>
				</div>
            </aside>
            <aside class="sidebar sidebar2">
                <div class="right-menu">
					<a href="#" style="margin-left: 20px;"><img src="/static/pictures/crash_test.svg" width="80" height="80"></a>
                    <p>
                    <a href="/dice" style="margin-left: 20px"><img src="/static/pictures/dice_test.svg" width="80" height="80"></a>
                    <p>
					<a href="#" style="margin-left: 20px"><img src="/static/pictures/roulette_test.svg" width="70" height="70"></a>
                    <p>
					<a href="#" style="margin-left: 20px"><img src="/static/pictures/mines_test.svg" width="80" height="80"></a>
                </div>
            </aside>
        </div>

        <footer class="footer">
            <p> &copy; All right reserved by SingleKnight group.
        </footer>
    </div>  
    </body>
</html>
{{end}}