{{template "basic" .}}

{{define "title"}}Dice Game{{end}}

{{define "content"}}

{{if not .LoginFlagAccept}}<div class="Cant-to-play-without-register">Sign In or Sign Up to Start Game</div>{{end}}

{{if .LoginFlagAccept}}
<div class="ddd">
<div class="shadow"></div>
	<div class="random">
		<div class="result"></div>
		<div class="cards">
			<div>0</div>
			<div>1</div>
			<div>2</div>
			<div>3</div>
			<div>4</div>
			<div>5</div>
			<div>6</div>
			<div>7</div>
			<div>8</div>
			<div>9</div>
		</div>
	</div>
	<button class="start" onclick="start()">START</button>
    <script src="/static/js/dice.js"></script>
</div>

<div class="dice-control">
<form>
<table class="DiceGame">
<tr>

<td>

<div class="DiceElements">
<label>Bet amount</label>
<br>
<input name="betamount" id="BetAmount" type="number" min="0" placeholder="Bet Amount" value="1" oninput='BetEdit(this.value)' required />
<span id="WrongAmount"></span>
</div>

</td>
<td></td>
<td>

<div class="DiceElements">
<label>Profit</label>
<br>
<input name="profit" id="Profit" type="number" step="0.01" min="1" value="" required />
</div>

</td>
</tr>

<tr>
<td>
<div class="DiceElements">
<label>Range</label>
<br>
<input name="range" id="Range" type="number" step="0.01" min="0" max="9999" value="5000" oninput='RangeEdit(this.value)' required />
<span id="WrongRange"></span>
</div>
</td>

<td>
<div class="DiceElements">
<label>Multiply</label>
<br>
<input name="multy" id="Multiply" type="number" step="0.01" min="1" value="1.9" oninput='MultiplyEdit(this.value)' required />
<span id="WrongMultiply"></span>
</div>
</td>

<td>
<div class="DiceElements">
<label>Win Chance</label>
<br>
<input name="winchance" id="WinChance" maxlength="2" type="number" step="0.01" min="0" max="94" value="50" oninput='WinChanceEdit(this.value)' required />
<span id="WrongChance"></span>
</div>
</td>

</tr>

</table>
</form>
</div>
{{end}}

{{end}}