{{template "basic" .}}

{{define "title"}}Dice Game{{end}}

{{define "sign-btn"}}
{{if not .LoginFlagAccept}}<td align="right"><a class="buttonLog" href="/main-sign">Sign In/Sign Up</a></td>{{end}}
{{if .LoginFlagAccept}}<td align="right"><a class="buttonLog" href="/profile">My profile</a>   <a class="buttonLog" href="/logout">Exit</a></td>
{{end}}
{{end}}

{{define "left-bar"}}
<ul type="none">
<li>Hi
<li>Hello
<li>Wassup
<li>Kon ni chi ha
<li>Ola
</ul>
{{end}}

{{define "content"}}
<!--<script src="/static/js/dice.js"></script>-->
<div id="DiceGame">
<form>
<label>Bet amount</label>
<input name="betamount" class="input number" type="number" min="0" placeholder="Bet Amount" />

<label>Range</label>
<input name="range" class="input number" type="number" min="0" max="9999" />

<label>Multiply</label>
<input name="multy" class="input number" type="number" min="0" />

<label>Win Chance</label>
<input name="winchance" class="input number" type="number" min="0" max="100" />
<form>
</div>
{{end}}

{{define "right-bar"}}
<ul type="none">
<li>Hi
<li>Hello
<li>Wassup
<li>Kon ni chi ha
<li>Ola
</ul>
{{end}}