{{template "basic" .}}

{{define "title"}}Main Page{{end}}

{{define "sign-btn"}}
{{if not .LoginFlagAccept}}<td align="right"><a class="buttonLog" href="/main-sign">Sign In/Sign Up</a></td>{{end}}
{{if .LoginFlagAccept}}<td align="right"><a class="buttonLog" href="/profile">My profile</a>   <a class="buttonLog" href="/logout">Exit</a></td>
{{end}}
{{end}}

{{define "content"}}
<table class="homepage-content">
    <tr>
        <td><a href="/roulette" style="text-decoration: none; "><div class="Roulette-btn"><h1 class="textdecor">Roulette Game</h1></div></a></td>
        <td><a href="/dice" style="text-decoration: none; "><div class="Dice-btn"><h1 class="textdecor">Dice Game</h1></div></a></td>
    </tr>
    <tr>
        <td><a href="#" style="text-decoration: none; "><div class="Crash-btn"><h1 class="textdecor">Crash Game</h1></div></a></td>
        <td><a href="#" style="text-decoration: none; "><div class="Jackpot-btn"><h1 class="textdecor">Jackpot Game</h1></div></a></td>
    </tr>
</table>
{{end}}