{{template "basic" .}}

{{define "title"}}Домашняя страница{{end}}

{{define "sign-btn"}}
<td align="right"><a class="buttonLog" href="/">My profile</a></td>
{{end}}

{{define "left-bar"}}
<ul type="none">
<li>Hi
<li>Hello
<li>Wassup
<li>Kon ni chi ha
<li>Ola
</ul>
{{end}}

{{define "content"}}
<h1>It is template for home page!!!</h1>
<img src="../static/pictures/lbl.png">
{{end}}

{{define "right-bar"}}
<ul type="none">
<li>Hi
<li>Hello
<li>Wassup
<li>Kon ni chi ha
<li>Ola
</ul>
{{end}}