{{template "basic" .}}

{{define "title"}}Домашняя страница{{end}}

{{define "sign-btn"}}
{{if not .LoginFlagAccept}}<td align="right"><a class="buttonLog" href="/main-sign">Sign In/Sign Up</a></td>{{end}}
{{if .LoginFlagAccept}}<td align="right"><a class="buttonLog" href="/profile">My profile</a>   <a class="buttonLog" href="/logout">Exit</a></td>
{{end}}
{{end}}

{{define "left-bar"}}
<ul type="none">
<li>Hi
<li>Hello
<li>Wassup
<li>Kon ni chi ha
<li>Ola
</ul>
{{end}}

{{define "content"}}
<a href="/roulette"><div id="Roulette"><h1 class="textdecor">Roulette Game</h1></div></a>
<a href="/dice"><div id="Dice"><h1 class="textdecor">Dice Game</h1></div></a>
{{end}}

{{define "right-bar"}}
<ul type="none">
<li>Hi
<li>Hello
<li>Wassup
<li>Kon ni chi ha
<li>Ola
</ul>
{{end}}