{{template "basic" .}}

{{define "title"}}Main Page{{end}}

{{define "content"}}
<table class="homepage-content">
    <tr>
        <td><a href="#" style="text-decoration: none; "><div class="Roulette-btn"><div class="blur"><h1 class="textdecor">Roulette Game <img src="/static/pictures/lock.png" width="26" height="26"></h1></div></div></a></td>
        <td><a href="/dice" style="text-decoration: none; "><div class="Dice-btn"><h1 class="textdecor">Dice Game</h1></div></a></td>
    </tr>
    <tr>
        <td><a href="#" style="text-decoration: none; "><div class="Crash-btn"><div class="blur"><h1 class="textdecor">Crash Game <img src="/static/pictures/lock.png" width="26" height="26"></h1></div></div></a></td>
        <td><a href="#" style="text-decoration: none; "><div class="Jackpot-btn"><div class="blur"><h1 class="textdecor">Mines Game <img src="/static/pictures/lock.png" width="26" height="26"></h1></div></div></a></td>
    </tr>
</table>
{{end}}