{{template "basic" .}}

{{define "title"}}Новая страница{{end}}

{{define "sign-btn"}}
<td align="right"><a class="buttonLog" href="/">My profile</a></td>
{{end}}

{{define "left-bar"}}
<ul type="none">
<li>Это
<li>Новая
<li>Страница
<li>Сайта
<li>!!!!
</ul>
{{end}}

{{define "content"}}
<h1>It is template for SECOND page!!!</h1>
<img src="../static/pictures/secondpage.jpg" width="871" height="451">
{{end}}

{{define "right-bar"}}
<ul type="none">
<li>Это
<li>Новая
<li>Страница
<li>Сайта
<li>!!!!
</ul>
{{end}}