{{template "basic" .}}

{{define "title"}}Новая страница{{end}}

{{define "content"}}
<h1>It is template for SECOND page!!!</h1>
<img src="../static/pictures/secondpage.jpg" width="871" height="451">
{{end}}
