{{template "basic" .}}

{{define "title"}}Profile{{end}}

{{define "sign-btn"}}
{{if not .LoginFlagAccept}}<td align="right"><a class="buttonLog" href="/main-sign">Sign In/Sign Up</a></td>{{end}}
{{if .LoginFlagAccept}}<td align="right"><a class="buttonLog" href="/profile">My profile</a></td>
<td align="right"><a class="buttonLog" href="/logout">Exit</a></td>
{{end}}
{{end}}

{{define "left-bar"}}
<ul type="none">
<li>Hi
<li>Hello
<li>Wassup
<li>Kon ni chi ha
<li>Ola
</ul>
{{end}}

{{define "content"}}
<h1>Welcome!!! Your email: {{ .username}}</h1>
<img src="../static/pictures/profile.jpg" width="871" height="451">
{{end}}

{{define "right-bar"}}
<ul type="none">
<li>Hi
<li>Hello
<li>Wassup
<li>Kon ni chi ha
<li>Ola
</ul>
{{end}}