{{template "basic" .}}

{{define "title"}}Profile{{end}}

{{define "content"}}
<table>
    <tr>
        <td>
            <div class="profile">
                <div class="avatar">
                </div>
                <div class="stats">
                    Username: {{ .username}}<br>
                    Email: {{ .email }} <br>
                    Balance: {{ .balance}} $
                </div>

                <div class="GameHistory">
                    <div class="gm-hs">Game History</div>
                </div>
            </div>
        </td>
        <td>
            <div class="cash">
                <table class="deposit">
                <tr>
                    <td><div class="form_radio_btn">
                            <input id="radio-1" type="radio" name="radio" value="1">
                            <label for="radio-1"></label>
                        </div></button>
                    </td>
                    <td><div class="form_radio_btn">
                            <input id="radio-2" type="radio" name="radio" value="2">
                            <label for="radio-2"></label>
                        </div>
                    </td>
                    <td><div class="form_radio_btn">
                            <input id="radio-3" type="radio" name="radio" value="3">
                            <label for="radio-3"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3"><input id="deposit" type="number"></input> <button onClick="deposit();">Накрутить</button><br><span id="resDep" style="color: green; font-size: 20px; padding: 25px"></span><td>
                    <script src="/static/js/deposit.js"></script>
                </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
{{end}}